body {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}

.form-wrapper {
    background: #ffffff;
    border-radius: 5px;
    padding: 25px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.settings-form input[type="text"],
.settings-form input[type="email"],
.settings-form input[type="password"] {
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background: #f8f8f8;
    padding-left: 20px;
}

.settings-form
.settings-form input[type="text"]:focus,
.settings-form input[type="email"]:focus,
.settings-form input[type="password"]:focus {
    border: 1px solid #30a5ff;
    outline: none;
    box-shadow: 0 0 5px rgba(48, 165, 255, 0.4);
}

.settings-form .btn-login {
    background-color: #30a5ff;
    color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    border: none;
    cursor: pointer;
}

.settings-form .btn-login:hover,
.settings-form .btn-login:focus {
    background-color: #1d82b2;
    outline: none;
}




